# File-Type exclusions for Visual Studio
*.sdf
*.suo
*.pdb
*.opendb
*.opensdf
*.ipch
*.VC.db

# Other generic exclusions
*.log

# Engine intermediate buildfiles
/Engine/obj

# FaceSensor intermediate/build folders/files
/FaceSensor/obj
/FaceSensor/bin
/FaceSensor/ipch

# MinimalExample intermediate/build folders/files
/MiniExample/obj
/MiniExample/bin
/MiniExample/ipch

# Libraries which get built
/Engine/src/zlib/win32/zlib1.res
/Engine/lib/x64/opencv-core_d.lib
/Engine/lib/x64/opencv-highui.lib
/Engine/lib/x64/opencv-highui_d.lib
/Engine/lib/x64/opencv-imgcodecs.lib
/Engine/lib/x64/opencv-imgcodecs_d.lib
/Engine/lib/x64/opencv-imgproc.lib
/Engine/lib/x64/opencv-imgproc_d.lib
/Engine/lib/x64/opencv-objdetect.lib
/Engine/lib/x64/opencv-objdetect_d.lib
/Engine/lib/x64/opencv-videoio.lib
/Engine/lib/x64/opencv-videoio_d.lib
/Engine/lib/x64/openface.lib
/Engine/lib/x64/openface_d.lib
/Engine/lib/x64/oscpack.lib
/Engine/lib/x64/oscpack_d.lib
/Engine/lib/x64/tbb.lib
/Engine/lib/x64/tbb_d.lib
/Engine/lib/x64/tbb-asm-x64.lib
/Engine/lib/x64/tbb-asm-x64_d.lib
/Engine/lib/x64/zlib.lib
/Engine/lib/x64/zlib_d.lib
/Engine/lib/x64/dlib.lib
/Engine/lib/x64/dlib_d.lib
/Engine/lib/x64/libpng.lib
/Engine/lib/x64/libpng_d.lib
/Engine/lib/x64/libsvm.lib
/Engine/lib/x64/libsvm_d.lib
/Engine/lib/x64/opencv-calib3d.lib
/Engine/lib/x64/opencv-calib3d_d.lib
/Engine/lib/x64/opencv-core.lib
/Engine/lib/x86/opencv-imgcodecs.lib
/Engine/lib/x86/opencv-imgcodecs_d.lib
/Engine/lib/x86/opencv-imgproc.lib
/Engine/lib/x86/opencv-imgproc_d.lib
/Engine/lib/x86/opencv-objdetect.lib
/Engine/lib/x86/opencv-objdetect_d.lib
/Engine/lib/x86/opencv-videoio.lib
/Engine/lib/x86/opencv-videoio_d.lib
/Engine/lib/x86/openface.lib
/Engine/lib/x86/openface_d.lib
/Engine/lib/x86/oscpack.lib
/Engine/lib/x86/oscpack_d.lib
/Engine/lib/x86/tbb.lib
/Engine/lib/x86/tbb_d.lib
/Engine/lib/x86/tbb-asm-x86.lib
/Engine/lib/x86/tbb-asm-x86_d.lib
/Engine/lib/x86/zlib.lib
/Engine/lib/x86/zlib_d.lib
/Engine/lib/x86/dlib.lib
/Engine/lib/x86/dlib_d.lib
/Engine/lib/x86/libpng.lib
/Engine/lib/x86/libpng_d.lib
/Engine/lib/x86/libsvm.lib
/Engine/lib/x86/libsvm_d.lib
/Engine/lib/x86/opencv-calib3d.lib
/Engine/lib/x86/opencv-calib3d_d.lib
/Engine/lib/x86/opencv-core.lib
/Engine/lib/x86/opencv-core_d.lib
/Engine/lib/x86/opencv-highui.lib
/Engine/lib/x86/opencv-highui_d.lib

# Android Libraries which get built
/Engine/lib/android-x86
/Engine/lib/android-x64
/Engine/lib/android-arm
/Engine/lib/android-arm64
